doctype html
html
  head
    title #{title} - SJ Web
    link(rel='stylesheet', href='/stylesheets/style.css')
    block includes
  body
    header
      h1 Sonya & Jenya
    .container
      .main-content
        block content     
    footer
      p All rights reserved
